@charset "UTF-8";
@import "https://unpkg.com/ress/dist/ress.min.css";
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  line-height: 1;
}

/*===== バー表示のためのCSS =====*/
.scrollgress {
  /* 他のposition指定しているエリアより前に出すため */
  z-index: 3;
  /* fixedで設置しているheaderの高さよりも下にバーを出す */
  top: 70px !important;
}

/*===== レイアウトのためのCSS =====*/
header {
  position: fixed;
  /* Header固定 */
  top: 0;
  height: 70px;
  /* 高さ指定 */
  z-index: 2;
  width: 100%;
  /* 装飾のためのCSS */
  background: #333;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.2em;
}

#container {
  position: relative;
}
#container h2 {
  font-size: 1.2em;
}
#container p {
  margin-top: 20px;
}

small {
  background: #333;
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px;
}

section {
  background: #fff;
  padding: 100px 30px;
}
section:nth-of-type(2n) {
  color: #fff;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  padding: 300px 30px;
  min-height: auto;
}
section:nth-of-type(2) {
  background: url("../img/01.jpg") no-repeat center;
  background-size: cover;
}
section:nth-of-type(4) {
  background: url("../img/02.jpg") no-repeat center;
  background-size: cover;
}

#footer {
  position: relative;
  z-index: 2;
}